{% extends "layout.njk" %}

{% block content %}
<h1>
  <span class="lang lang-en">{{ title_en }}</span>
  <span class="lang lang-zh">{{ title_zh }}</span>
</h1>

<div class="lang lang-en">
  {{ body_en | safe }}
</div>
<div class="lang lang-zh">
  {{ body_zh | safe }}
</div>
{% endblock %}
